 {% extends 'base.html' %}
 {% load static %}
 {% load form_tags %}
 {% block content %}

 <div class="col-xl-12">
   <div class="d-sm-flex align-items-center justify-content-between">
	 <h6 class="text-muted">{{ titre_page }}</h6>
	 <nav aria-label="breadcrumb" class="d-none d-sm-block">
		  <ol class="breadcrumb">
			{% for item in breadcrumb %}
			  {% if item.is_last %}
				<li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
			  {% elif item.is_first %}
				<li class="breadcrumb-item">{{ item.name }} </li>
			  {% else %}
				<li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.name }}</a></li>
			  {% endif %}
			{% endfor %}
		  </ol>
	  </nav>
	</div>
   <div class="nav-align-top mb-4">
	 <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
	 <li class="nav-item">
		 <a class="nav-link {% if model_type == 'formation' %}active{% endif %}"
			href="{% url 'formation:universal-create' 'formation' %}">
			 <i class="tf-icons bx bx-book-alt"></i> Formations
		 </a>
	 </li>
	 <li class="nav-item">
		 <a class="nav-link {% if model_type == 'parcours' %}active{% endif %}"
			href="{% url 'formation:universal-create' 'parcours' %}">
			 <i class="tf-icons bx bx-map"></i> Parcours
		 </a>
	 </li>
	 <li class="nav-item">
		 <a class="nav-link {% if model_type == 'annee' %}active{% endif %}"
			href="{% url 'formation:universal-create' 'annee' %}">
			 <i class="tf-icons bx bx-calendar"></i> Années Académiques
		 </a>
	 </li>
	 <li class="nav-item">
		 <a class="nav-link {% if model_type == 'classe' %}active{% endif %}"
			href="{% url 'formation:universal-create' 'classe' %}">
			 <i class="tf-icons bx bx-group"></i> Classes
		 </a>
	 </li>
 </ul>
	   {% if model_type %}
 <div class="tab-content">
  <div class="text-center">
	  <div class="alert bg-primary">
		<h5 class="mb-0 text-white">Formulaire {{ titre_page }}</h5>
	  </div>
	</div>

	 <div class="tab-pane fade show active">
	   <!-- FORMULAIRE DYNAMIQUE -->
		 {% if model_type == 'formation' %}
			 {% include "Formation/Formulaire/formation.html" %}
		 {% elif model_type == 'parcours' %}
			 {% include "Formation/Formulaire/parcours.html" %}
		 {% elif model_type == 'annee' %}
			 {% include "Formation/Formulaire/annee.html" %}
		 {% elif model_type == 'classe' %}
			 {% include "Formation/Formulaire/classe.html" %}
		 {% else %}
			 <div class="tab-content">
			   <div class="tab-pane fade show active">
				   <div class="alert alert-info">Choisissez une option en cliquant sur le bouton correspondant à la Creation.</div>
			   </div>
		   </div>
	  	{% endif %}
	 </div>
   </div>
   
	  <div class="fixed-action-buttons">
		  <a href="{% url 'formation:universal-list' model_type %}" class="btn btn-list">
			  <span class="tf-icons bx bx-list-ul"></span>&nbsp;  Listes
		  </a>
	  </div>
	   {% else %}
	   <div class="tab-content">
		   <div class="tab-pane fade show active">
			   <div class="alert alert-info">Choisissez une option en cliquant sur le bouton correspondant à la Creation.</div>
		   </div>
	   </div>
	   {% endif %}

{% endblock %}